/********** Small devices only **********/
@media (max-width: 320px) {

#MovementList {
	font-size: 60%;	
}

#MovementList .list-line-even {
	background: #e0f8f8;
}

#MovementList .list-line-odd {
	background: #f8b0f8;
}